// MES VARIABLES PROJET (COULEURS ET POLICES)

// Mes couleurs du mockup
$clr-bg: #0e2018;        // Mon vert foret foncé de base
$clr-gold: #c4a47c;      // Mon doré pour les titres et les icônes
$clr-white: #ffffff;     // Blanc pur
$clr-text-p: #ffffff;    // Couleur du texte des paragraphes

// Mes polices de la charte graphique
$font-titles: 'Cinzel', serif;   // Pour les gros titres H1, H2, H3
$font-body: 'Inter', sans-serif; // Pour le texte normal et les paragraphes